#coverImg
{
    max-width: 300px;
    max-height: 200px;
    text-align: center;
}
#coverContainer
{
    position: relative;
    width: 60%;
    height: 200px;
    border: 2px #F5F5F5 solid;
    border-radius: 1em;
    display: grid;
    justify-content: center;
}
#coverFab
{
    position: absolute;
    left: 0px;
    bottom: 0px;
}

h3
{
    margin: 3em;
}